.primary {

display: inline-flex;
padding: 10px 18px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
background: #C9252C;

/* Shadows/Medium */
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}
